picture img {
    width: 100%;
    display: block;
}

* {
    box-sizing: border-box;
}

:root {
    --blue: #0062b8;
    --red: #CC0000;
    --white: #fff;
    --black: #000;
}

header{
    padding: 1rem;
}

h1 {
    padding: 1rem;
}

.h1 {
    padding: 1rem;
}

aside {
    padding: 1rem;
}

footer {
    padding: 1rem;
    margin-top: 50px;
}

main {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 50rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover:not(.button) {
    color: var(--red);
}

a:active:not(.button) {
    color: var(--black);
}

.heading {
    font-family: sairathin;
    color: var(--black);
    margin-top: 50px;
}

body {
    line-height: 1.5;
}

body:not(.heading) {
    font-family: overpassregular;
    color: var(--black);
}

.button {
    padding: 15px 40px;
    background: var(--blue);
    color: var(--white);
    transition: box-shadow 100ms ease, background-color 100ms ease;
    outline: none;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 1.4em;
    display: inline-block;
}

.button:hover {
    background: var(--red);
}

.button:active {
    box-shadow: inset 0 4px 5px rgb(0 0 0 / 30%);
}

.hero h1, .hero p {
    color: var(--white);
}

.hero p {
    font-size: 1.25rem;
    margin: 0;
}

.hero {
    position: relative;
    margin: 0;
}

.hero .text-overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background: linear-gradient(to bottom,transparent 0, rgba(0,0,0,.5)100%);
}

.hero .text-overlay h1 {
    position: absolute;
    bottom: 4rem;
    left: 2rem;
    margin: 0;
}

.hero .text-overlay p {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    margin: 0;
}

a img {
    display: block;
    width: 100%;
    min-width: 180px;
}

.cards {
    max-width: 400px;
    margin-bottom: 1rem;
    display: inline-block;
}

.card {
    position: relative;
    max-width: 400px;
}

.card .text-overlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    background:  linear-gradient(to bottom,transparent 0, rgba(0,0,0,.5)100%);
}

.card .text-overlay p {
    position: absolute;
    color: var(--white);
    font-size: 5rem;
    margin: 0;
    left: 7rem;
    bottom: 0;
}

.card .overlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity 300ms ease;
    background-color: rgba(0,0,0,.3);
}

.card:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.panel {
    display: flex;
    gap: 1rem;
}
  
.panel .text-wrapper {
    flex: 1 1 auto;
}
  
.panel .image-wrapper {
    flex: 1 .6 auto;
}
  
.panel h2 {
    margin: 0;
}
  
.panel .left {
    order: -1;
}