img {
    width: 100%;
    display: block;
}

* {
    box-sizing: border-box;
}

:root {
    --blue: #0062b8;
    --red: #CC0000;
    --white: #fff;
    --black: #000;
}

header {
    padding: 1rem;
}

h1 {
    padding: 1rem;
}

.h1 {
    padding: 1rem;
}

aside {
    padding: 1rem;
}

footer {
    padding: 1rem;
    margin-top: 50px;
}

main {
    padding: 0 1rem;
    max-width: 1000px;
    align-self: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.heading {
    font-family: sairathin;
    color: var(--black);
    margin-top: 50px;
}

body {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

body:not(.heading) {
    font-family: overpassregular;
    color: var(--black);
}

.button {
    padding: 15px 40px;
    background: var(--blue);
    color: var(--white);
    transition: box-shadow 100ms ease, background-color 100ms ease;
    outline: none;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 1.4em;
    display: inline-block;
}

.button:hover {
    background: var(--red);
}

.button:active {
    box-shadow: inset 0 4px 5px rgb(0 0 0 / 30%);
}

.hero h1, .hero p {
    color: var(--white);
}

.hero p {
    font-size: 1.25rem;
    margin: 0;
}

.hero {
    position: relative;
    margin: 0;
}

.hero .text-overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background: linear-gradient(to bottom,transparent 0, rgba(0,0,0,.5)100%);
}

.hero .text-overlay h1 {
    position: absolute;
    bottom: 4rem;
    left: 2rem;
    margin: 0;
}

.hero .text-overlay p {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    margin: 0;
}

a img {
    display: block;
    width: 100%;
    min-width: 180px;
}

.cards {
    margin-bottom: 1rem;
    display: flex;
}

.card {
    position: relative;
    max-width: 400px;
}

.card .text-overlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    background:  linear-gradient(to bottom,transparent 0, rgba(0,0,0,.5)100%);
}

.card .text-overlay p {
    position: absolute;
    color: var(--white);
    font-size: 5rem;
    margin: 0;
    left: 7rem;
    bottom: 0;
}

.card .overlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity 200ms ease;
    background-color: rgba(0,0,0,.3);
}

.card:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav > * {
    flex: 1 0 auto;
    max-width: 1200px;
}

header nav ul li {
    text-align: center;
}

header nav a {
    white-space: nowrap;
    display: block;
    padding: 1rem;
    color: var(--blue);
    background-color: var(--white);
    opacity: 1;
    transition: color 100ms ease, opacity 100ms ease;
}

header nav a:hover {
    color: var(--black);
    opacity: .4;
}

svg {
    width: 200px;
}

.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
    align-self: center;
}

.loader:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid var(--white);
    border-color: var(--blue) transparent var(--red) transparent;
    animation: lds-hourglass 1.2s infinite;
}
  
@keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
}